/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */
 .wp-block-alpine-alpine {
	 background: rgba(110, 84, 84, 0.15);
	 padding:20px;
	 border-radius:4px;

	button {
		padding: 6px 12px;
		border-radius:4px;
		background-color:#000;
		color:#fff;
	}
}
.block {
	display:block;
}
.hidden {
	display:none;
}
